:root {
    --dark-purple: #461959;
    --medium-purple: #7A316F;
    --pink: #CD6688;
    --light-blue: #AED8CC;
    --main-text-color: #ffffff;
    --overlay-bg-color: rgba(0, 0, 0, 0.5);
    --active-color: #E57399;
}

main {
    padding: 20px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--main-text-color);
    background: var(--dark-purple);
    margin: 0;
    padding: 0;
    min-width: 475px !important;
}

nav {
    top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--main-text-color);
}

    nav .logo {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: normal;
        color: var(--main-text-color);
        transition: background-color 0.3s;
        background: var(--medium-purple);
        border-radius: 5px;
        display: inline-block;
        padding: 6px;
        border: 2px solid var(--pink);
        text-decoration: none;
    }

        nav .logo:hover {
            background: var(--pink);
            color: black;
        }

    nav .search-bar {
        flex-grow: 1;
        margin: 0 10px 0 -20px;
        width: auto !important;
        max-width: auto !important;
    }

        nav .search-bar input {
            width: 90%;
            padding: 14px 16px;
            border-radius: 7px;
            background: var(--pink);
            color: var(--main-text-color);
            margin-left: 30px;
            margin-right: auto;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 16px;
            border: 2px solid var(--medium-purple);
        }

            nav .search-bar input::placeholder {
                color: white;
            }

    nav .search_btn {
        all: unset;
        margin-left: -4.5%;
        margin-right: 3.6%;
        cursor: text !important;
    }

    nav .search_btn:focus {
        box-shadow: none !important;
    }

        nav .search_btn span {
            color :var(--main-text-color);
            cursor: pointer;
        }

            nav .search_btn span:focus {
                box-shadow: none !important;
            }

    nav ul {
        list-style: none;
        display: flex;
        gap: 20px;
        width: 100%;
    }

        nav ul li {
            display: inline;
            white-space: nowrap;
        }

            nav ul li a {
                color: var(--main-text-color);
                text-decoration: none;
                padding: 14px 16px;
                border-radius: 5px;
                background: var(--medium-purple);
                transition: background-color 0.3s;
                font-weight: bold;
            }

                nav ul li a:hover {
                    background: var(--pink) !important;
                    color: black;
                    padding: 14px 16px;
                    border-radius: 5px;
                }

.active {
    background: var(--active-color) !important;
}

.nav-item:has(.active) {
    z-index: 5;
}

.mission-section, .team-section {
    padding: 50px 20px;
    text-align: center;
}

    .mission-section h2, .team-section h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        margin-bottom: 20px;
        color: var(--pink);
    }

    .mission-section p, .team-section p {
        font-size: 18px;
        max-width: 800px;
        margin: 0 auto;
        color: var(--main-text-color);
    }

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.team-card {
    background: var(--medium-purple);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    box-shadow: 0px 3px 12px 0px var(--pink);
    border: 2px solid var(--pink);
    cursor: pointer;
}

    .team-card:hover {
        transform: scale(1.05);
        transition: 0.3s;
        background: #CD6688;
    }

    .team-card a {
        text-decoration: none;
    }

    .team-card img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .team-card h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        margin-bottom: 5px;
        color: var(--light-blue);
    }

    .team-card p {
        font-size: 18px;
        color: var(--main-text-color);
    }

.form-buttons {
    display: flex;
    justify-content: space-between;
}

    .form-buttons button {
        padding: 10px 20px;
        border-radius: 7px;
        border: none;
        background: var(--pink);
        color: var(--main-text-color);
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .form-buttons button:hover {
            background: var(--medium-purple);
        }

.contact-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.contact-container, .contact-info {
    background: var(--dark-purple);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 12px 0px var(--pink);
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin: 20px;
}

    .contact-container h2, .contact-info h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        margin-bottom: 20px;
        color: var(--pink);
        text-align: center;
    }

    .contact-container form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-container label {
        font-size: 18px;
        text-align: left;
        color: var(--main-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }

    .contact-container input, .contact-container textarea {
        padding: 14px;
        border-radius: 7px;
        border: 2px solid var(--pink);
        background: var(--medium-purple);
        color: var(--main-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

        .contact-container input::placeholder, .contact-container textarea::placeholder {
            color: var(--main-text-color);
        }

    .contact-container textarea {
        resize: vertical;
        height: 150px;
    }

.contact-button {
    padding: 14px;
    border-radius: 7px;
    border: none;
    background: var(--pink);
    color: var(--main-text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .contact-button:hover {
        background: var(--medium-purple);
    }

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}

.contact-info a {
    color: var(--pink);
    text-decoration: none;
}

    .contact-info a:hover {
        text-decoration: underline;
    }

.highlight {
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--medium-purple);
    padding: 20px;
    border-radius: 10px;
    color: var(--main-text-color);
    margin-bottom: 40px;
    border: 3px solid var(--pink);
}

.highlight-text {
    max-width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

    .highlight-text h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 38px;
        font-weight: normal;
        margin: 0 0 120px -18px;
        margin-bottom: 50px;
        color: white;
        background-color: #461959;
        padding: 14px 16px;
        border-radius: 10px;
        display: inline-block;
        transition: background-color 0.3s;
        border: 2px solid var(--pink);
    }

        .highlight-text h1:hover {
            background-color: #CD6688;
            color: black;
        }

    .highlight-text h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        color: white;
        background-color: #461959;
        padding: 7px 10px;
        border-radius: 7px;
        display: inline-block;
        transition: background-color 0.3s;
        margin: 0 0 20px -20px;
    }

        .highlight-text h2:hover {
            background-color: #CD6688;
            color: black;
        }

    .highlight-text p {
        font-size: 20px;
        margin-bottom: 40px;
        margin: 0 0 40px -20px;
        max-width: 500px;
    }

    .highlight-text button {
        position: relative;
        padding: 20px 40px;
        background-color: #461959;
        color: white;
        border-radius: 7px;
        cursor: pointer;
        transition: background-color 0.3s;
        border: 2px solid var(--pink);
        margin: 10px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

        .highlight-text button:hover {
            background-color: #CD6688;
            color: black;
        }

.highlight-image img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.popular, .new-releases {
    margin-bottom: 40px;
}

    .popular h2, .new-releases h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        margin-bottom: 20px;
        background-color: var(--medium-purple);
        display: inline-block;
        padding: 14px 16px;
        border: 2px solid var(--pink);
        border-radius: 6px;
        transition: var(--pink) 0.4s;
    }

        .popular h2:hover, .new-releases h2:hover {
            background-color: #CD6688;
            color: black;
        }

.social {
    text-align: center;
    margin-top: 60px;
}

    .social button {
        padding: 10px 20px;
        background-color: var(--medium-purple);
        color: var(--main-text-color);
        border: 2px solid var(--pink);
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        transition: background-color 0.3s;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
    }

        .social button:hover {
            background-color: var(--pink);
            color: black;
        }

        .social button a {
            text-decoration: none;
            color: inherit;
        }

.signin-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.signin-container {
    background: var(--dark-purple);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 12px 0px var(--pink);
    text-align: center;
    width: 100%;
    max-width: 450px;
    border: 2px solid var(--pink);
}

    .signin-container h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        margin-bottom: 20px;
        color: var(--pink);
    }

    .signin-container form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .signin-container label {
        font-size: 18px;
        text-align: left;
        color: var(--main-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }

    .signin-container input {
        padding: 14px;
        border-radius: 7px;
        border: 2px solid var(--pink);
        background: var(--medium-purple);
        color: var(--main-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

        .signin-container input::placeholder {
            color: var(--main-text-color);
        }

.signin-button {
    padding: 14px;
    border-radius: 7px;
    border: none;
    background: var(--pink);
    color: var(--main-text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .signin-button:hover {
        background: var(--medium-purple);
    }

.social-signin {
    margin-top: 20px;
}

    .social-signin p {
        margin-bottom: 10px;
    }

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.signup-link {
    margin-top: 20px;
}

    .signup-link p {
        font-size: 16px;
    }

    .signup-link a {
        color: var(--pink);
        text-decoration: none;
    }

        .signup-link a:hover {
            text-decoration: underline;
        }

.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.signup-container {
    background: var(--dark-purple);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 12px 0px var(--pink);
    text-align: center;
    width: 100%;
    max-width: 500px;
    border: 2px solid var(--pink);
}

    .signup-container h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        margin-bottom: 20px;
        color: var(--pink);
    }

    .signup-container form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .signup-container label {
        font-size: 18px;
        text-align: left;
        color: var(--main-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }

    .signup-container input, .signup-container select {
        padding: 14px;
        border-radius: 7px;
        border: 2px solid var(--pink);
        background: var(--medium-purple);
        color: var(--main-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

        .signup-container input::placeholder, .signup-container select::placeholder {
            color: var(--main-text-color);
        }

.signup-button, .reset-button {
    padding: 14px;
    border-radius: 7px;
    border: none;
    background: var(--pink);
    color: var(--main-text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .signup-button:hover, .reset-button:hover {
        background: var(--medium-purple);
    }

.social-signup {
    margin-top: 20px;
}

    .social-signup p {
        margin-bottom: 10px;
    }

.social-icons a svg {
    margin: 0 10px;
    display: inline-block;
}

.signin-link {
    margin-top: 20px;
}

    .signin-link p {
        font-size: 16px;
    }

    .signin-link a {
        color: var(--pink);
        text-decoration: none;
    }

        .signin-link a:hover {
            text-decoration: underline;
        }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 14px;
    border: 2px solid var(--pink);
}

    .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s;
    }

    .grid-item:hover img {
        transform: scale(1.1);
    }

    .grid-item .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--overlay-bg-color);
        color: var(--main-text-color);
        text-align: center;
        padding: 10px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .grid-item:hover .overlay {
        opacity: 1;
    }

#head:hover {
    background: var(--pink);
    color: black;
}

#p {
    margin-left: 0px;
}

.content-section {
    text-align: center;
    margin-bottom: 40px;
}

    .content-section h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        margin-bottom: 20px;
        color: var(--pink);
    }

    .content-section p {
        font-size: 18px;
        max-width: 800px;
        margin: 0 auto;
    }

    .content-section h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        margin-top: 20px;
        color: var(--pink);
    }

    .content-section ul {
        list-style: none;
        padding-left: 0;
        margin-left: 20px;
    }

        .content-section ul li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
        }

            .content-section ul li::before {
                content: '';
            }

    .content-section blockquote {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        background: var(--medium-purple);
        padding: 10px;
        border-radius: 5px;
        margin: 20px 0px 0 40px;
        border-left: 5px solid var(--pink);
        display: inline-block;
        max-width: 850px;
    }

.screenshots-section {
    margin-bottom: 40px;
}

    .screenshots-section h2 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        margin-bottom: 20px;
        color: var(--pink);
    }

.screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

    .screenshots img:hover {
        transform: scale(1.05);
    }

#bp {
    font-weight: normal;
    font-family: Raleway;
    font-size: 21px;
    color: white;
    text-align: left;
    display: inline-block;
    background: var(--pink);
    border: 2px solid var(--pink);
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: -12px;
}

    #bp:hover {
        background: var(--medium-purple);
        text-transform: none;
    }

iframe {
    border: 2px solid var(--pink);
    border-radius: 8px;
    max-height: 473px;
    min-width: 540px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#genre {
    font-family: Raleway;
    font-size: 14px;
    background: var(--medium-purple);
    display: inline-block;
    padding: 8px;
    border-radius: 16px;
    color: white;
    overflow: hidden !important;
    margin: 0 -5px;
}

    #genre:hover {
        background: black;
    }

.review-section {
    background: var(--medium-purple);
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 600px;
    box-shadow: 0px 3px 12px 0px var(--pink);
    text-align: center;
    border: 3px solid var(--pink);
}

    .review-section h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        margin-bottom: 20px;
        color: var(--pink);
    }

    .review-section form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .review-section label {
        font-size: 18px;
        text-align: left;
        color: var(--main-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }

    .review-section input, .review-section textarea {
        padding: 14px;
        border-radius: 7px;
        border: 2px solid var(--pink);
        background: var(--medium-purple);
        color: var(--main-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

        .review-section input::placeholder, .review-section textarea::placeholder {
            color: var(--main-text-color);
        }

    .review-section textarea {
        resize: vertical;
        min-height: 55px;
        height: 150px;
    }

footer {
    z-index: 1;
    text-align: center;
    padding: 6px;
    background: #050620; /* or use this #452465*/
    color: var(--main-text-color);
    margin-top: 20px;
}

    footer .scroll-top {
        z-index: 2;
        position: relative;
        width: 150px;
        height: 50px;
        background: #120b55;
        top: -35px;
        text-decoration: none;
        border-radius: 50%;
        font-size: 2.5rem;
        box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
        scroll-behavior: smooth !important;
    }

    footer .scroll-top > span {
        position: relative;
        font-size: 3rem;
        top: 5px;
        color: #fff !important;
    }

.footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    background: #120b55;
    border-radius: 50%;
    text-decoration: none !important;
}

    .footer-social a > span {
        position: absolute;
        left: 50%;
        top: 50%;
        color: var(--main-text-color);
        transform: translate(-50%, -50%);
    }

    .footer-social a:hover {
        background: var(--main-text-color);
    }

        .footer-social a:hover span {
            color: #120b55;
        }


@media (max-width:1100.2px) {
    nav ul li:hover {
        z-index: 3;
    }

    #navbarNav {
        position: absolute;
        width: 200px !important;
        min-width: auto !important;
        max-width: auto !important;
        margin: 36px 0 0 100px !important;
        right: 15px;
        border-color: var(--pink);
        border-radius: 6px;
        background: var(--medium-purple);
        padding: 5px;
        border: 2px solid var(--pink);
    }

        #navbarNav ul {
            margin: 10px 0 10px 0;
        }

    .navbar-toggler {
        background: var(--medium-purple);
        border: 2px solid var(--input-bg-color);
    }

    nav .search-bar {
        margin-right: 10px;
        margin-left: -20px;
    }

    nav .search_btn {
        margin-left: -11%;
        margin-right: 7%;
    }
}

@media (max-width: 770px) {

    .hero-section p {
        overflow: hidden;
    }
}

